[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

beautifulsoup = "*"
certifi = "==2017.11.5"
chardet = "==3.0.4"
click = "==6.7"
datadog = "*"
decorator = "==4.1.2"
flask = "==0.12.2"
idna = "==2.6"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
requests = "*"
simplejson = "==3.13.2"
"urllib3" = "==1.22"
werkzeug = "==0.14.1"
virtualenv = "*"
